[user]
	email = tmangner@inoxio.de
	name = Torsten Mangner
[alias]
	ci = commit -v
	co = checkout
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[apply]
	whitespace = nowarn
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[pull]
	rebase = true
[rebase]
	autosquash = true
	autostash = true
